<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-5bFGNjwF8onKXzNbIcKR8ABhxicw+SC1sjTh6vhSbIbtVgUuVTm2qBZ4AaHc7Xr9" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Skinapp</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="/">Skinapp</a>
      <span class="navbar-text py-0">Skin Lesion Detection Flask App Demo</span>
      <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarColor02"></div>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a target=”_blank” class="nav-link" href="http://github.com/zeochoy/skinapp"><i class="fab fa-github"></i> Github</a>
          </li>
        </ul>
      </form>
    </nav>

    <div class="container-fluid" style="margin-top:100px">
      <div class="row">
        <!--left panel-->
        <div class="col-lg-4" id="left" style="max-width:500px">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#sample-tab">Sample Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#upload-tab">Upload</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="sample-tab">
              <br>
              <medium class="form-text text-muted">Click on sample image to try.</medium><br>
              {% for img_src in samples %}
              <img class="sample_img sample-img rounded border" src="{{img_src[8:]}}" height="100" width="100"/>
              {% endfor %}
            </div>
            <div class="tab-pane fade" id="upload-tab">
              <br>
              <medium class="form-text text-muted">Upload your own image (jpg or png).</medium><br>
              <form id="predict" method="post" enctype="multipart/form-data" action="upload">
                  <input class="form-control-file" id="img" name="file" type="file" accept=".jpeg,.jpg,.png"/>
                  <br>
                  <input class="btn btn-primary" type="submit" value="Submit"/>
              </form>
            </div>
          </div>

          <div class="alert alert-dismissible alert-secondary shadow-sm p-3 mb-5 bg-white rounded"  style="margin-top:50px; max-width:650px">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Disclamier:</strong><br>Uploaded images are the responsibility of their respective parties.<br>This tool is for demostration only. It does not replace professional medical advice.</a>
          </div>
        </div>

        <!--right panel-->
          <div class="col-lg-4" style="max-width:350px">
            <div class="status-area">
              <div class="img-hidden" style="margin-top:90px;"></div>
            </div>
          </div>

          <div class="col-lg-4" style="max-width:400px">
            <div class="status-area"  style="margin-top:100px; margin-bottom:30px;">
              <span class="status"></span>
            </div>
          </div>

        <!--right panel-->

      </div>
    </div>

  </body>
</html>
